.daily-meal-plan {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.daily-meal-plan h4,
.daily-meal-plan h5 {
  text-align: center;
  margin-bottom: 20px;
}

.add-meal-plan {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}

.add-meal-plan form {
  display: flex;
  flex-direction: column;
}

.add-meal-plan form > * {
  margin-bottom: 15px;
}

.meal-plan-list {
  text-align: center;
}

.meal-plan-list ul {
  list-style: none;
  padding: 0;
}

.meal-plan-list li {
  background-color: #f0f0f0;
  margin: 10px 0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.meal-plan-list li h6 {
  margin: 0 0 10px 0;
}

.meal-plan-list li p {
  margin: 0;
}

.meal-plan-list li button {
  margin-top: 10px;
}
